<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deschen.myblog.modules.system.mapper.GuestBookMapper">
  <resultMap id="BaseResultMap" type="com.deschen.myblog.modules.system.entity.GuestBook">
    <id column="guestbook_id" jdbcType="BIGINT" property="guestbookId" />
    <result column="guestbook_content" jdbcType="VARCHAR" property="guestbookContent" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="guestbook_url" jdbcType="VARCHAR" property="guestbookUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    guestbook_id, guestbook_content, user_id, state, create_time, update_time, guestbook_url
  </sql>
  <select id="selectByExample" parameterType="com.deschen.myblog.modules.system.entity.GuestBookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_guestbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_guestbook
    where guestbook_id = #{guestbookId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_guestbook
    where guestbook_id = #{guestbookId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.deschen.myblog.modules.system.entity.GuestBookExample">
    delete from blog_guestbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deschen.myblog.modules.system.entity.GuestBook">
    insert into blog_guestbook (guestbook_id, guestbook_content, user_id, 
      state, create_time, update_time, 
      guestbook_url)
    values (#{guestbookId,jdbcType=BIGINT}, #{guestbookContent,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{guestbookUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.deschen.myblog.modules.system.entity.GuestBook">
    insert into blog_guestbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guestbookId != null">
        guestbook_id,
      </if>
      <if test="guestbookContent != null">
        guestbook_content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="guestbookUrl != null">
        guestbook_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guestbookId != null">
        #{guestbookId,jdbcType=BIGINT},
      </if>
      <if test="guestbookContent != null">
        #{guestbookContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guestbookUrl != null">
        #{guestbookUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deschen.myblog.modules.system.entity.GuestBookExample" resultType="java.lang.Long">
    select count(*) from blog_guestbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_guestbook
    <set>
      <if test="record.guestbookId != null">
        guestbook_id = #{record.guestbookId,jdbcType=BIGINT},
      </if>
      <if test="record.guestbookContent != null">
        guestbook_content = #{record.guestbookContent,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.guestbookUrl != null">
        guestbook_url = #{record.guestbookUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_guestbook
    set guestbook_id = #{record.guestbookId,jdbcType=BIGINT},
      guestbook_content = #{record.guestbookContent,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      state = #{record.state,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      guestbook_url = #{record.guestbookUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deschen.myblog.modules.system.entity.GuestBook">
    update blog_guestbook
    <set>
      <if test="guestbookContent != null">
        guestbook_content = #{guestbookContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guestbookUrl != null">
        guestbook_url = #{guestbookUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where guestbook_id = #{guestbookId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deschen.myblog.modules.system.entity.GuestBook">
    update blog_guestbook
    set guestbook_content = #{guestbookContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      state = #{state,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      guestbook_url = #{guestbookUrl,jdbcType=VARCHAR}
    where guestbook_id = #{guestbookId,jdbcType=BIGINT}
  </update>
</mapper>