<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deschen.myblog.modules.system.mapper.TagArticleMapper">
  <resultMap id="BaseResultMap" type="com.deschen.myblog.modules.system.entity.TagArticle">
    <id column="tag_article_id" jdbcType="BIGINT" property="tagArticleId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="TagResultMap" type="com.deschen.myblog.modules.system.entity.Tag">
    <id column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="hot" jdbcType="INTEGER" property="hot" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tag_article_id, tag_id, article_id, state, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.deschen.myblog.modules.system.entity.TagArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_tag_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_tag_article
    where tag_article_id = #{tagArticleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_tag_article
    where tag_article_id = #{tagArticleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.deschen.myblog.modules.system.entity.TagArticleExample">
    delete from blog_tag_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deschen.myblog.modules.system.entity.TagArticle">
    insert into blog_tag_article (tag_article_id, tag_id, article_id, 
      state, create_time, update_time
      )
    values (#{tagArticleId,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, 
      #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deschen.myblog.modules.system.entity.TagArticle">
    insert into blog_tag_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagArticleId != null">
        tag_article_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagArticleId != null">
        #{tagArticleId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deschen.myblog.modules.system.entity.TagArticleExample" resultType="java.lang.Long">
    select count(*) from blog_tag_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectTagsByArticleId" parameterType="map" resultMap="TagResultMap">
    select
    tag.*
    from blog_tag_article tag_article
    left join blog_tag tag
    on tag_article.tag_id = tag.tag_id
    left join blog_article article
    on tag_article.article_id = article.article_id
    WHERE article.article_id = #{articleId}
    and tag_article.state = #{state}
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_tag_article
    <set>
      <if test="record.tagArticleId != null">
        tag_article_id = #{record.tagArticleId,jdbcType=BIGINT},
      </if>
      <if test="record.tagId != null">
        tag_id = #{record.tagId,jdbcType=BIGINT},
      </if>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_tag_article
    set tag_article_id = #{record.tagArticleId,jdbcType=BIGINT},
      tag_id = #{record.tagId,jdbcType=BIGINT},
      article_id = #{record.articleId,jdbcType=BIGINT},
      state = #{record.state,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deschen.myblog.modules.system.entity.TagArticle">
    update blog_tag_article
    <set>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tag_article_id = #{tagArticleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deschen.myblog.modules.system.entity.TagArticle">
    update blog_tag_article
    set tag_id = #{tagId,jdbcType=BIGINT},
      article_id = #{articleId,jdbcType=BIGINT},
      state = #{state,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where tag_article_id = #{tagArticleId,jdbcType=BIGINT}
  </update>
</mapper>