<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deschen.myblog.modules.system.mapper.ThumbupMapper">
  <resultMap id="BaseResultMap" type="com.deschen.myblog.modules.system.entity.Thumbup">
    <id column="thumbup_id" jdbcType="BIGINT" property="thumbupId" />
    <result column="thumbup_count" jdbcType="INTEGER" property="thumbupCount" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="create_time" jdbcType="DATETIME" property="createTime" />
    <result column="update_time" jdbcType="DATETIME" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    thumbup_id, thumbup_count, article_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.deschen.myblog.modules.system.entity.ThumbupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_thumbup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_thumbup
    where thumbup_id = #{thumbupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_thumbup
    where thumbup_id = #{thumbupId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.deschen.myblog.modules.system.entity.ThumbupExample">
    delete from blog_thumbup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deschen.myblog.modules.system.entity.Thumbup">
    insert into blog_thumbup (thumbup_id, thumbup_count, article_id, 
      create_time, update_time)
    values (#{thumbupId,jdbcType=BIGINT}, #{thumbupCount,jdbcType=INTEGER}, #{articleId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=DATETIME}, #{updateTime,jdbcType=DATETIME})
  </insert>
  <insert id="insertSelective" parameterType="com.deschen.myblog.modules.system.entity.Thumbup">
    insert into blog_thumbup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thumbupId != null">
        thumbup_id,
      </if>
      <if test="thumbupCount != null">
        thumbup_count,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thumbupId != null">
        #{thumbupId,jdbcType=BIGINT},
      </if>
      <if test="thumbupCount != null">
        #{thumbupCount,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATETIME},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATETIME},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deschen.myblog.modules.system.entity.ThumbupExample" resultType="java.lang.Long">
    select count(*) from blog_thumbup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_thumbup
    <set>
      <if test="record.thumbupId != null">
        thumbup_id = #{record.thumbupId,jdbcType=BIGINT},
      </if>
      <if test="record.thumbupCount != null">
        thumbup_count = #{record.thumbupCount,jdbcType=INTEGER},
      </if>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATETIME},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=DATETIME},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_thumbup
    set thumbup_id = #{record.thumbupId,jdbcType=BIGINT},
      thumbup_count = #{record.thumbupCount,jdbcType=INTEGER},
      article_id = #{record.articleId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=DATETIME},
      update_time = #{record.updateTime,jdbcType=DATETIME}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deschen.myblog.modules.system.entity.Thumbup">
    update blog_thumbup
    <set>
      <if test="thumbupCount != null">
        thumbup_count = #{thumbupCount,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATETIME},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATETIME},
      </if>
    </set>
    where thumbup_id = #{thumbupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deschen.myblog.modules.system.entity.Thumbup">
    update blog_thumbup
    set thumbup_count = #{thumbupCount,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=DATETIME},
      update_time = #{updateTime,jdbcType=DATETIME}
    where thumbup_id = #{thumbupId,jdbcType=BIGINT}
  </update>
</mapper>